<div class = 'error'>

    <% if flash[:my_errors]%>
        <% flash[:my_errors].each do |error|%>
            <p><%= error %></p>
        <%end%>
    <%end%>

</div>


    <%= form_for @user do |u| %> 
    <%= u.label :name %>
    <%= u.text_field :name%><br>
    
    <%= u.submit "create user"%>

    <% end %>


