<h1><%= @user.to_s %></h1>
<% @user.favorites.each do |favorite| %>
    <div class = "favorite-container">

      State: <%= link_to favorite.location.state, location_path(favorite.location.id) %>

      <%= button_to "View", locations_path, :method => :get%>
      <%= button_to "Remove", location_path(favorite),
      :method => :delete,
      
      %>
    </div>

<%= link_to "Add Favorite", new_favorite_path%>