<h1>Welcome to Covid Tracker</h1>

<h1>United States Overall Status</h1>

       <!-- CDC -->
            

    <br>
        <!-- WHO -->
            


<h3>Today:</h3>
  
    <ul>
        <!-- date -->
             <% @date = @arrayOfUSDaily[0]["date"]%>
            <li> Date: <%= @date %> </li>

               
        <!-- new cases -->
             <% @case= @arrayOfUSCurrent[0]["positiveIncrease"]%>
            <li> New Cases: <%= @case %> </li>
            
        <!-- currently hospitalized -->
            <% @hospitalizedCurrently = @arrayOfUSCurrent[0]["hospitalizedCurrently"]%>
            <li> Currently Hospitalized: <%= @hospitalizedCurrently %> </li>
            
        <!-- hospitization increase -->
            <% @hospitalizedIncreaseHash = @arrayOfUSCurrent[0]["hospitalizedIncrease"] %>
            <li> Hospitalization Increase: <%= @hospitalizedIncreaseHash %> </li>
        
        <!-- currently in ICU -->
            <% @inIcuCurrently = @arrayOfUSCurrent[0]["inIcuCurrently"] %>
            <li> Currently in ICU: <%= @inIcuCurrently %> </li>
        
        <!-- currently on ventilator -->
            <% @onVentilatorCurrently = @arrayOfUSCurrent[0]["onVentilatorCurrently"] %>
            <li> Currently on Ventilator: <%= @onVentilatorCurrently %> </li>
        
        <!-- deaths increase -->
            <% @deathIncrease = @arrayOfUSCurrent[0]["deathIncrease"] %>
            <li> Lives Lost: <%= @deathIncrease %> </li>
    </ul>

<h3>7 Day Average:</h3>
    
    <% @sevenDays = @arrayOfUSDaily.take(7) %>

    <ul>        
            
        <!-- new cases average -->
            <% @positiveArray = @sevenDays.map {|days| days["positiveIncrease"]} %>
            <li> New Cases: <%= (@positiveArray.sum)/7 %>/day </li>
            
        <!-- currently hospitalized average -->
            <% @sevenDayHospitizationArray = @sevenDays.map {|days| days["hospitalizedCurrently"]} %>
            <li> Currently Hospitalized: <%= (@sevenDayHospitizationArray.sum)/7 %>/day </li>
        
        <!-- hospitization increase average -->
            <% @sevenDayHospitizationIncreaseArray = @sevenDays.map {|days| days["hospitalizedIncrease"]} %>
            <li> Hospitalization Increase: <%= (@sevenDayHospitizationIncreaseArray.sum)/7 %>/day </li>
        
        
        <!-- deaths increase average -->
            <% @sevenDayDeathArray = @sevenDays.map {|days| days["deathIncrease"]} %>
            <li> Lives Lost: <%= (@sevenDayDeathArray.sum)/7 %>/day </li>  
    </ul>
    
<h3>Totals Starting on <%= @arrayOfUSDaily.last["date"]%>: </h3>

    <ul>
   
        <!-- total cases -->
                <% @CasesHash = @arrayOfUSCurrent[0]["positive"] %>
                <li> Total Cases: <%= @CasesHash %> </li>
        
        <!-- total hospitizations -->
                <% @hospitalizedCumulative = @arrayOfUSCurrent[0]["hospitalizedCumulative"] %>
                <li> Total Hospitizations: <%= @hospitalizedCumulative %> </li>
        
        <!-- total ICU -->
                <% @inIcuCumulative = @arrayOfUSCurrent[0]["inIcuCumulative"] %>
                <li> Total ICU Patients: <%= hi = @inIcuCumulative %> </li>
        
        <!-- deaths -->
                <% @deathHash = @arrayOfUSCurrent[0]["death"] %>
                <li> Total Deaths: <%= hi = @deathHash %> </li>
        
    
         

    </ul>

<br>

<%= link_to "View All States", locations_path%>
