<div class="index_container">
<h1 class = "Welcome-message" >Welcome to Covid Tracker</h1>

<h2 class = "Welcome-message">United States Overall Status</h2>
        <div class = "link">
       <!-- CDC -->
            <a href= "https://www.cdc.gov/"> Center for Disease Control</a>
    <br>
        <!-- WHO -->
            <a href= "https://www.who.int/health-topics/coronavirus#tab=tab_1"> World Health Organization </a>
        </div>


<div class="US_stats">

<div class="div1"> 
<p></p>
<h5 class= "headers">Today:</h5>
  
    <ul>
        <!-- date -->
             <% @date = @arrayOfUSDaily[0]["date"]%>
            <li> Date: <%= Date.parse(@date.to_s).strftime %> </li>

               
        <!-- new cases -->
             <% @case= @arrayOfUSCurrent[0]["positiveIncrease"]%>
            <li> New Cases: <%= number_with_delimiter(@case) %> </li>
            
        <!-- currently hospitalized -->
            <% @hospitalizedCurrently = @arrayOfUSCurrent[0]["hospitalizedCurrently"]%>
            <li> Currently Hospitalized: <%= number_with_delimiter(@hospitalizedCurrently) %> </li>
            
        <!-- hospitization increase -->
            <% @hospitalizedIncreaseHash = @arrayOfUSCurrent[0]["hospitalizedIncrease"] %>
            <li> Hospitalization Increase: <%= number_with_delimiter(@hospitalizedIncreaseHash) %> </li>
        
        <!-- currently in ICU -->
            <% @inIcuCurrently = @arrayOfUSCurrent[0]["inIcuCurrently"] %>
            <li> Currently in ICU: <%= number_with_delimiter(@inIcuCurrently) %> </li>
        
        <!-- currently on ventilator -->
            <% @onVentilatorCurrently = @arrayOfUSCurrent[0]["onVentilatorCurrently"] %>
            <li> Currently on Ventilator: <%= number_with_delimiter(@onVentilatorCurrently) %> </li>
        
        <!-- deaths increase -->
            <% @deathIncrease = @arrayOfUSCurrent[0]["deathIncrease"] %>
            <li> Lives Lost: <%= number_with_delimiter(@deathIncrease) %> </li>
    </ul>
    </div>


<div class="div2">
<p></p>
<h5 class= "headers">7 Day Average:</h5> 

    <% @sevenDays = @arrayOfUSDaily.take(7) %>

    <ul>        
            
        <!-- new cases average -->
            <% @positiveArray = @sevenDays.map {|days| days["positiveIncrease"]} %>
            <li> New Cases: <%= number_with_delimiter((@positiveArray.sum)/7) %>/day </li>
            
        <!-- currently hospitalized average -->
            <% @sevenDayHospitizationArray = @sevenDays.map {|days| days["hospitalizedCurrently"]} %>
            <li> Currently Hospitalized: <%= number_with_delimiter((@sevenDayHospitizationArray.sum)/7) %>/day </li>
        
        <!-- hospitization increase average -->
            <% @sevenDayHospitizationIncreaseArray = @sevenDays.map {|days| days["hospitalizedIncrease"]} %>
            <li> Hospitalization Increase: <%= number_with_delimiter((@sevenDayHospitizationIncreaseArray.sum)/7) %>/day </li>
        
        
        <!-- deaths increase average -->
            <% @sevenDayDeathArray = @sevenDays.map {|days| days["deathIncrease"]} %>
            <li> Lives Lost: <%= number_with_delimiter((@sevenDayDeathArray.sum)/7) %>/day </li>  
    </ul>
    </div>

    
<div class="div3"> 
<p></p>
<h5 class= "headers">Totals Starting on <%= Date.parse(@arrayOfUSDaily.last["date"].to_s).strftime%>: </h5>

    <ul>
   
        <!-- total cases -->
                <% @CasesHash = @arrayOfUSCurrent[0]["positive"] %>
                <li> Total Cases: <%= number_with_delimiter(@CasesHash) %> </li>
        
        <!-- total hospitizations -->
                <% @hospitalizedCumulative = @arrayOfUSCurrent[0]["hospitalizedCumulative"] %>
                <li> Total Hospitizations: <%= number_with_delimiter(@hospitalizedCumulative) %> </li>
        
        <!-- total ICU -->
                <% @inIcuCumulative = @arrayOfUSCurrent[0]["inIcuCumulative"] %>
                <li> Total ICU Patients: <%= number_with_delimiter(@inIcuCumulative) %> </li>
        
        <!-- deaths -->
                <% @deathHash = @arrayOfUSCurrent[0]["death"] %>
                <li> Total Deaths: <%= number_with_delimiter(@deathHash) %> </li>
        
    
         

    </ul>
    </div>
 </div>
</div>
<br>

